<launch>
    <arg name="black" value="0" />
    <arg name="nonblack" value="1" />

    <node name="data_process" pkg="tutorial" type="data_process" output="screen">
        
    </node>
    <node name="PID_controller" pkg="tutorial" type="PID_controller" output="screen">
        <rosparam file="$(find tutorial)/config/tracker.yaml" command="load" />
    <!-- </node>
    <node name="debug" pkg="tutorial" type="debug" output="screen">
    </node> -->
</launch>